div#format {
margin-top:100px;
margin-left:300px;
width:500px;
height:250px;
background-color:#F8F8FF;
display:block;
}

div#title label{
margin-top:100px;
margin-bottom:20px;
display:block;
color:#555555;
text-align:center;
font-weight:bold;
}

div#form .input-text{
width:200px;
border:1px solid #3b6e22;
font-size:0.8em;
color:#666666;
}

div#form label{
display:block;
margin-bottom:10px;
color:#555555;
}

div#form label span{
display:block;
float:left;
padding-right:6px;
padding-top:6px;
width:250px;
text-align:right;
}

