<?xml version="1.0"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Analog Sample Web Application</display-name>
	
	<filter>
		<filter-name>AnalogFilter</filter-name>
		<filter-class>org.analogweb.core.AnalogFilter</filter-class>
		<init-param>
			<param-name>application.packages</param-name>
			<param-value>org.analogweb.helloworld</param-value>
		</init-param>
		<!--
		<init-param>
			<param-name>application.specifier</param-name>
			<param-value>.do</param-value>
		</init-param>
		-->
	</filter>

	<filter-mapping>
		<filter-name>AnalogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
